<!DOCTYPE html>
<html>
<head>
    <title>Cover Letter Generator</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>
<body>
  <div class="container">
    <h1>Cover Letter Generator</h1>
    <button id="aboutButton">About</button>
    <div id="aboutText" style="display: none;">
      <p>This cover letter generator helps you create professional cover letters quickly using AI.</p>
    
      <p><b>How to use it:</b></p>
      <ol>
          <li>Fill out all the input fields accurately. A well-detailed resume and job description are crucial for best results.</li>
          <li>Click the "Generate Cover Letter" button.</li> 
          <li>Review the generated letter carefully and make any necessary edits to personalize it. Make sure it didn't make anything up!</li>
      </ol>

      <p><i>Note: This service may be rate-limited on occasion, as it uses a free API. If unsuccessful, please try again later.</i></p>
    </div>

    <form method="POST">
        <label for="position">Position*<br></label>
        <input type="text" name="position" id="position" placeholder="e.g., Software Engineer" required>

        <label for="company">Company*<br></label>
        <input type="text" name="company" id="company" placeholder="e.g., Google" required>

        <label for="company_details">Company Details</label>
        Optional: Add specific information about the company (anything that would be helpful to know as context).
        <textarea name="company_details" id="company_details" rows="4" placeholder="e.g., Company mission, recent projects"></textarea>

        <label for="role_description">Role Description*<br></label>
        Paste the job description.
        <textarea name="role_description" id="role_description" rows="6" placeholder="e.g., Job Responsibilities and Requirements" required></textarea>

        <label for="resume">Resume*<br></label>
        Paste your resume content.
        <textarea name="resume" id="resume" rows="8" placeholder="e.g., Your resume text" required></textarea>

        <label for="name">Full Name*<br></label>
        <input type="text" name="name" id="name" placeholder="e.g., Juan Doe" required>

        <label for="length">Desired Length<br></label>
        <p>Specify the preferred length (e.g., one page, two pages). If not specified, defaults to one page. Max two pages.</p>
        <input type="text" name="length" id="length" maxlength="20" placeholder="e.g., one page, two sentences">

        <p id="required">* indicates required field.</p>

        <button type="submit">Generate Cover Letter</button>
    </form>
    
    {% if cover_letter %}
        <h2>Generated Cover Letter:</h2>
        <pre>{{ cover_letter }}</pre>
    {% endif %}

    <script src="/static/js/script.js" type="text/javascript"></script>
</div>
    
</body>
</html>